#priority_subscription.island
  .icon
    = image_tag 'icons/info_64.png', class: 'center'
  .title
    Get a priority subscription!
  .text
    Contact a new property before others do and multiply your possibilities of renting it.
