= widget_div do
  #layerslider{style:"width: 98%; height: 400px;"}
    .ls-layer{rel: "slidedelay: 3000;"}
      = image_tag 'property/cover_ads/ad1.jpg', class: "ls-bg", alt: "layer1-background"
    .ls-layer
      = image_tag 'property/cover_ads/ad3.jpg', class: "ls-bg", alt: "layer2-background"
