body{
  background:#ddd;
  font-family:Arial;
}
h1{
  position:relative;
  text-indent:-9000px;
  width:557px;
  height:103px;
  margin:20px auto 20px auto;
  background:transparent url(title.png) no-repeat top left;
}
span.reference{
  position:fixed;
  left:10px;
  bottom:10px;
  font-size:12px;
}
span.reference a{
  color:#666;
  text-shadow:1px 1px 1px #fff;
  text-transform:uppercase;
  text-decoration:none;
  margin-right:30px;
}
span.reference a:hover{
  color:#333;
}
.content{
  width:700px;
  margin:0 auto;
}

.msg_slideshow{
  margin:0 auto;
}
a.back{
  background:transparent url(back.png) no-repeat top left;
  height:13px;
  width:248px;
  display:block;
  clear:both;
  text-indent:-9000px;
  margin:20px auto;
}
a.back:hover{
  background-position:0px -13px;
}