#basic_info.island
  #size.data_item{style: 'margin-top: -4px;'}
    .icon.home
      = image_tag 'icons/property/32/m2.png'
    .text
      65 m2
  #rooms.data_item
    .icon.rooms
      = image_tag 'icons/property/32/rooms.png'
    .text
      3 rooms
  #bed_rooms.data_item
    .icon.bed_rooms
      = image_tag 'icons/property/32/bedrooms.png'
    .text
      2 bedrooms
  #floor.data_item
    .icon.floor
      = image_tag 'icons/property/32/floor.png'
    .text
      4th floor
