#period.island
  .calendar.data_item
    .icon.calendar
      = image_tag 'icons/property/32/rental_period.png'
    .text
      3 - 6 months
  .start_date.data_item
    .icon.start_date
      = image_tag 'icons/property/32/period_start_arrow.png'
    .text
      Starting ASAP
  .end_date.data_item
    .icon.end_date
      = image_tag 'icons/property/32/period_end_arrow.png'
    .text
      Nov 1. 2012
