#text.island
  .title
    A nice property
    / = property.title
  .body
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum dapibus purus nec euismod. Vivamus consequat sapien vitae arcu molestie posuere sit amet eu nibh. Nullam vitae justo quis leo varius iaculis. Morbi congue eros sit amet orci porttitor eget dapibus risus blandit. Aenean gravida pharetra justo sit amet aliquam. In hac habitasse platea dictumst. Nullam varius sapien vitae orci porttitor sed pellentesque tellus ultrices. Morbi pellentesque hendrerit diam in pellentesque. Vestibulum ut bibendum neque. Quisque sed facilisis ligula. Aenean magna sem, adipiscing adipiscing bibendum et, pharetra in purus. Nullam diam neque, lacinia in faucibus ut, posuere faucibus odio. Pellentesque tellus libero, commodo ac pharetra quis, tempor a mi. Donec nec diam velit, eget vestibulum nisi. Maecenas dapibus risus ut tellus vulputate gravida. Mauris vitae sapien nisi.
    / = property.description
