#property {
  .show {    
    #gallery {
      width: 578px;
      height: 519px;      

      // #msg_slideshow {
      //   width: 548px;
      //   height: 503px;              
      // }

      .photo {
        width: 548px;
        height: 403px;
      }
    }
  }
}

